OPENROUTER_API_KEY=your_openrouter_api_key
HXCY_BASE_URL=https://hxcy.top
HXCY_USERNAME=lpout
HXCY_PASSWORD=klioud123
HXCY_PROFILE=./browser-profile
HXCY_HEADLESS=1
HXCY_DEBUG_DIR=
PORT=3000
DB_PATH=./data/resources.db
DOWNLOAD_DIR=./downloads
BAIDU_PAN_PROFILE=~/.baidu-pan-profile
